body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgb(244, 238, 243);
    margin: 0;
    padding: 0;
}

header{
    background: #cdb7d1;
    color: #f3edf5;
    padding: 20px;
    text-align: center;
}

.container{
    max-width: 800px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 60px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

input, textarea{
    width: 100;
    padding: 10px;
    margin: 5px 0 15px;
    border: 2px solid #cdb7d1;
    border-radius: 10px;
}