body{
    font-family:'Times New Roman', Times, serif;
    background: rgb(244, 238, 243);
    margin: 0;
    padding: 0;
}

header{
    background: #cdb7d1;
    color: #f3edf5;
    padding: 5px;
    text-align: center;
}

.container{
    max-width: 900px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

input, textarea{
    width: 500;
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid #cdb7d1;
    border-radius: 5px;
}

button{
    background: rgb(213, 164, 227);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

